<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        {{ counter }}
    </div>
    <script>
        const App = {
            data() {
                return {
                    counter: 0
                }
            },
            mounted() {
                setInterval(() => {
                    this.counter++
                }, 1000) //add every 1 sec
            }
        }
        //vuejs lifecycle
        //const vue = Vue.createApp(App) --- create
        //vue.mount('#app') --- mounted
        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>